* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.grid-container {
    display: grid;
    font-family: Helvetica;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 220px 2fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
}

/* SIDEBAR */

.sidebar {
    grid-area: sidebar;
    padding: 20px;
    background-color: rgb(32, 140, 223);
    color: azure;

}

.sidebar-menu {
    display: grid;
    gap: 20px;
    padding-top: 50px;
}

.menu-item{
    font-weight: bold;
    font-size: 25px;
}

.sidebar-logo {
    font-size: 25px;
}

.sidebar-menu2 {
    display: grid;
    gap: 20px;
    padding-top: 50px;
}

.menu-item2 {
    font-size: 25px;
    font-weight: bolder;
}

i {
    font-size: 25px;
}

/* HEADER */
.navbar {
    display: flex;
    align-items: center;
}

.notification-icon, .messages-icon, .user-name {
    font-size: 30px;
    font-weight: bold;
}

.header-actions  {
    margin: 20px;
    margin-right: 40px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.header {  
    padding-left: 20px;
    background-color: rgba(255, 255, 255, 0.378);
}

.user-profile {
    display: flex;
    gap: 30px;  
    align-items: center;
}


.user-avatar {
    font-size: 30px;
    display: flex;
    background-color: #e4e6eb;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding-right: 7px;
    padding-bottom: 5px;
}

.user-avatar2 {
    font-size: 50px;
    background-color: #e4e6eb;
    border-radius: 50%;
    padding-bottom: 3px;
}

.search-container input {
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: rgba(147, 135, 135, 0.463);
    width: 70%;
    height: 30px;
}

.search-container {
    display: flex;
    gap: 20px;
    flex-grow: 1;
}



.button-container{
    display: flex;
    justify-content: end;
    gap: 25px;
    margin-right: 50px;
    border-radius: 10px;
}

.button-container button {
    font-weight: bold;
    color: white;
    padding: 10px 35px; 
    font-size: 16px; 
    border: none; 
    background-color: rgb(32, 140, 223);
    border-radius: 20px; 
    max-width: 120px;
}

.profile-container {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

/* MAIN CONTENT */

.your-project {
    padding: 20px;
}

.main-content {
    background-color: #716e6e55;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.articles {
    padding: 20px;
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
    gap: 20px; 
}

.cards {
    background-color: rgba(250, 250, 250, 0.93);
    padding: 20px;
    border-radius: 10px;
}

.announcements {
    padding: 40px;
}

.announcement-container {
    padding: 30px;
    background-color: rgba(250, 250, 250, 0.886);
    border-radius: 10px;
}

.trending {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    padding: 40px;
}

.trending-container {
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(250, 250, 250, 0.891);
    padding: 10px;
}

.trending-content {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    font-size: 30px;
}









